<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Welcome!</h1>
        <p>To begin click on the link below <%= link_to 'New User', new_user_path, class: "btn btn-warning" %></p>
        <p>Or click here to go to <%= link_to 'Users', users_path, class: "btn btn-default" %></p>

    </div>
  </div>
</div>
