.warning{
    color: #ffffff;
}


.padding{

}

@media (min-width: 200px) {
    body{
        margin-top: 32px;
    }
}
@media (min-width: 768px) {
    body{
        margin-top: 4%;
        margin-bottom: 4%;
    }
}